.exercise.ng-enter,
.exercise.ng-leave
{
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.exercise.ng-enter,
.exercise.ng-move
{
    opacity: 0;
}

.exercise.ng-move.ng-move-active,
.exercise.ng-enter.ng-enter-active
{
    opacity: 1;
}

.exercise.ng-leave
{
    opacity: 1;
}

.exercise.ng-leave.ng-leave-active
{
    opacity: 0;
}

.change.ng-enter,
.change.ng-leave
{
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    -ms-transition: all 1.5s ease-in-out;
    transition: all .25s ease-in-out;
}

.change.ng-enter,
.change.ng-move
{
    opacity: 0;
}

.change.ng-move.ng-move-active.bg,
.change.ng-enter.ng-enter-active
{
    opacity: 1;
}

.change.ng-leave
{
    opacity: 1;
}

.change.ng-leave.ng-leave-active
{
    opacity: 0;
}

.view
{
    opacity: 1;
}

.view.ng-enter,
.view.ng-leave
{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.view.ng-enter
{
    opacity: 0;
}

.view.ng-enter-active
{
    opacity: 1;
}

.view.ng-leave
{
    opacity: 1;
}

.view.ng-leave-active
{
    opacity: 0;
}

.ng-cloak
{
    display: none;
}

.ng-hide {
    display: block !important;
    left: -9999px;
    top: -9999px;
}


