html,
body
{
    height: 100%;
}

.wrap
{
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container
{
    padding: 70px 15px 20px;
}

.footer
{
    height: 60px;
    background-color: #F5F5F5;
    border-top: 1px solid #DDDDDD;
    padding-top: 20px;
}

.jumbotron
{
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn
{
    font-size: 21px;
    padding: 14px 24px;
}

.not-set
{
    color: #CC5555;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after
{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after
{
    content: /*"\e113"*/ "\e151";
}

a.desc:after
{
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after
{
    content: "\e153";
}

.sort-numerical a.desc:after
{
    content: "\e154";
}

.sort-ordinal a.asc:after
{
    content: "\e155";
}

.sort-ordinal a.desc:after
{
    content: "\e156";
}

.grid-view th
{
    white-space: nowrap;
}

.hint-block
{
    display: block;
    margin-top: 5px;
    color: #999999;
}

.error-summary
{
    color: #A94442;
    /*background: #FDF7F7;*/
    /*border-left: 3px solid #EED3D7;*/
    /*padding: 10px 20px;*/
    /*margin: 0 0 15px 0;*/
}

.nowrap
{
    white-space: nowrap !important;
}

.white
{
    color: white;
}

.gallery-item .icon-bar
{
    background-color: rgba(230, 230, 230, .45);
    padding: 1px;
    position: absolute;
    width: 35px;
    top: 5px;
    right: 20px
}

.edit .hide-on-edit
{
    display: none !important;
}

.edit .display-on-edit
{
    display: initial !important;
}

.display-on-edit
{
    display: none !important;
}

.hide-on-edit
{
    display: initial !important;
}

a
{
    cursor: pointer;
}

.filename
{
    white-space: nowrap;
    overflow: hidden;
}

.history .filename:after,
.history .filename:hover:after
{
    width: 3%;
    background: none;
}

.history .filename:hover
{
    font-weight: inherit;
    color: inherit;
}

.filename:hover + div
{
    display: none;
}

.filename:hover
{
    color: #138265;
    font-weight: bold;
    overflow: visible;
    cursor: default;

}

.filename:hover:after
{
    background: none;
}

.filename:after
{
    content: "";
    position: absolute;
    right: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, .0)) no-repeat;
    background-size: 100% 100%;
}

.notify
{
    position: fixed;
    z-index: 1000;
    right: 55px;
    height: 35px;
    padding: 11px 23px;
    top: 15px;
}

.vbox > header ~ section
{
    top: 30px;
}

.header
{
    min-height: 30px;
}

.navbar-header
{
    height: 30px;
    width: 70px;
}

.exercise-name:hover
{
    color: #138265;
    font-weight: bold;
}

.error-body
{
    position: absolute;
    height: 100%;
    margin: -15px;
    width: 100%;
}

.torrent-header:hover
{
    background-color: #ECFCFF;

}

.ng-dirty.ng-invalid.form-control
{
    border-color: #A94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.ng-dirty.ng-invalid.form-control:focus
{
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #CE8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #CE8483;
}

.action
{
    width: 15px;
}

.change-icon
{
    width: 10px;
    text-align: center;
}

.datepicker table tr td.active.active
{
    background-color: #16B6B8;
}

.datepicker table tr td.active.active:hover
{
    background-color: #11A2A4;
}

.datepicker.datepicker-dropdown.dropdown-menu td,
.datepicker.datepicker-dropdown.dropdown-menu th
{
    font-family: "Roboto", "sans-serif";
}

.header ul
{
    list-style: none;
}

.login .form-control
{
    height: 50px
}

.login .modal-sm
{
    top: 85px;
}

.bottom-menu
{
    position: fixed;
    right: 60px;
    bottom: 35px;
}

.bottom-menu.mobile
{
    right: 5px;
    bottom: 5px;
}

.white
{
    color: white;
}

.gallery-action-bar
{
    display: none;
    background-color: rgba(230, 230, 230, .45);
    padding: 1px;
    position: absolute;
    width: 35px;
    left: 129px;
    top: 6px;
}

[data-role=item]:hover .gallery-action-bar
{
    display: block;
}

.filters > td > input
{
    height: 25px;
}

.table-striped:not(.detail-view) th:first-child
{
    width: 10px;
}

.table-striped:not(.detail-view) td:last-child,
.table-striped:not(.detail-view) td:nth-last-child(2),
.table-striped:not(.detail-view) td:nth-last-child(3)
{
    white-space: nowrap;
}

.table-striped:not(.detail-view) th:nth-last-child(2),
.table-striped:not(.detail-view) th:nth-last-child(3)
{
    width: 90px;
}

.detail-view .form-control
{
    height: auto;
    background-color: rgba(235, 235, 235, .5);
}

body
{
    font-family: "Roboto", "sans-serif" !important;
    letter-spacing: .7px;
}

@font-face
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.ttf');;
}

@font-face
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf');;
}

@font-face
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Roboto-Black.ttf');;
}

@font-face
{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/Roboto-ThinItalic.ttf');;
}

@font-face
{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/Roboto-LightItalic.ttf');;
}

@font-face
{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Roboto-Italic.ttf');;
}

@font-face
{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/Roboto-MediumItalic.ttf');;
}

@font-face
{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Roboto-BoldItalic.ttf');;
}

@font-face
{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/Roboto-BlackItalic.ttf');;
}

.exercise-param .form-control[type=text]
{

    height: 18px;
    padding: 0;
    width: 35px;
    font-size: 13px;
    letter-spacing: .7px;

}

.trainings-index .form-control
{
    font-size: 12px;
    height: 25px;
    padding: 1px;
}

.training-info .form-control
{
    margin: auto;
    padding: 0;
    font-size: 13px;
    width: 100%;
    height: 20px;
    text-align: center;
    letter-spacing: .7px;
    overflow: hidden;

}

.training-info select.form-control.short
{
    width: 50%;
    float: left;
}

.new-exercise-form .form-control
{
    font-size: 12px;
    width: 100%;
    height: 26px;
    padding: 3px;
}

.new-exercise-form .form-control[type=text]
{
    width: 61px;
    letter-spacing: .7px;
}

.short-column
{
    width: 75px;
}

.tiny-column
{
    width: 45px;
}

.trainings-index .row:last-child
{
    border: 0px;
}

.train-modifier
.train-date
{
    text-align: center;
    margin: auto;
    width: 70px;
}

#loading-indicator
{
    position: absolute;
    left: 50%;
    top: 50px;
}

.error-summary ul
{

    margin: 0;
    list-style-type: none;
    padding: 0;
}

.padder-small
{
    padding: 2px !important;
}

.padder-left-none
{
    padding-left: 0px !important;;
}

.padder-right-small
{
    padding-right: 2px !important;;
}

.collapse-toggle:not(.collapsed) i.fa-plus-square-o:before
{
    content: "\f147";
    /*display: none;*/
}

.panel-collapse .panel-body:not(.modal-body)
{
    padding: 8px;
}

.navbar-brand > img
{
    display: inherit;
}

