<div class="modal fade" id="{{modalId}}" role="dialog">
    <div class="modal-dialog {{modalSize && 'modal-'+modalSize || ''}}">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-if="modalCloseButton == 'true'" type="button" class="close" data-dismiss="modal">
                    <i class="fa fa-remove"></i>
                </button>
                <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <ng-transclude></ng-transclude>
            </div>
        </div>
    </div>
</div>