<div class="panel panel-default torrents" ng-init="init()">
    <div class="panel-body panel-group">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Url</b></div>
            <div class="panel-body">
                <form name="NewTorrentForm" ng-controller="NewTorrentCtrl" class="form-horizontal">

                    <div class="col-xs-8">
                        <input class="form-control" name="torrentUrl" ng-model="form.torrentUrl" ng-model-options="{debounce : 500}" placeholder="http://dl.rutracker.org/forum/dl.php?t=4779678" type="url" required="" torrent-url>

                        <div class="error-summary">
                            <ul>
                                <li ng-show="(NewTorrentForm.torrentUrl.$dirty || NewTorrentForm.$submitted) && NewTorrentForm.torrentUrl.$error.url">Неправильный Url.</li>
                                <li ng-show="(NewTorrentForm.torrentUrl.$dirty || NewTorrentForm.$submitted) && NewTorrentForm.torrentUrl.$error.required">Введите Url.</li>
                                <li ng-show="(NewTorrentForm.torrentUrl.$dirty || NewTorrentForm.$submitted) && NewTorrentForm.torrentUrl.$error.alreadyExists">Такой торрент уже есть в базе.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pull-left m-t-xs">
                        <a class="text-info-dker" ng-click="addTorrent()">добавить <i class="fa fa-plus"></i></a>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default" ng-repeat="torrent in torrents track by $index" ng-controller="TorrentCtrl">

            <a ng-click="options.isOpen = !options.isOpen">
                <div class="panel-heading torrent-header b-b">
                    <i class="fa {{!options.isOpen && 'fa-plus' || 'fa-minus'}}"></i> {{torrent.torrentName}}
                </div>
            </a>

            <div ng-if="options.isOpen" class="panel-body" id="{{$index}}">
                <div class="col-xs-12 b-b no-padder">
                    <div class="col-xs-7">
                        <a ng-if="torrent.torrentLogs.length > 0" class="text-success-dker" ng-click="showHistory()" modal-btn="historyModal">

                            <i class="fa fa-calendar-o text-success-dker"></i> Последние изменения:
                            <b>{{torrent.torrentChangeDate * 1000 | date:'dd.MM.yyyy'}}</b>

                        </a>
                    </div>

                    <div class="pull-left text-left ">
                        <a class="text-success-dker" href="/app/uploads/{{torrent.torrentFilePath}}.torrent"> скачать
                            <i class="i i-download"></i> </a>
                    </div>
                    <div class="pull-right m-r-xs m-b-xs dropdown">
                        <a class="text-muted" data-toggle="dropdown">
                            <i tooltip="Редактировать" tooltip-position="left" class="fa fa-2x fa-cog"></i>
                            <i class="fa fa-2x fa-caret-down"></i> </a>
                        <ul class="dropdown-menu">
                            <li><a><i ng-click="deactivate()" class="fa fa-close action"></i> отключить</a></li>
                            <li><a><i ng-click="activate()" class="fa fa-check action"></i> включить</a></li>
                            <li><a><i ng-click="delete()" class="fa fa-trash-o action"></i> удалить</a></li>
                        </ul>
                    </div>
                </div>

                <div ng-repeat="change in torrent.changes track by $index" class="change col-xs-12 b-b {{ change.type == 'added' && 'bg-success-ltest' || 'bg-danger-ltest' }}">
                    <div class="row pull-left">
                        {{change.type == 'added' && '+' || '-'}}
                    </div>
                    <div class="no-padder col-xs-7 filename">
                        {{change.fileName}}
                    </div>
                    <div class="pull-left short-column">
                        {{change.fileSize | bytes2string}}
                    </div>
                    <div class="pull-left m-l-lg">
                        {{change.type == 'added' && 'добавлено' || 'удалено'}}
                    </div>
                </div>

                <div class="col-xs-12 m-b-md"></div>

                <div ng-repeat="file in torrent.torrentFiles | orderBy:'fileCreated':true | limitTo:options.showFiles track by file.fileId" class="col-xs-12 no-padder b-b">
                    <div class="col-xs-7 filename">{{file.fileName}}</div>
                    <div class="pull-left short-column">{{file.fileSize | bytes2string}}</div>
                </div>
                <a class="text-success-dker" ng-if="torrent.torrentFiles.length > options.showFiles" ng-click="options.showFiles = options.showFiles + 5">
                    <div class="col-xs-5">
                        показать еще 5 файлов <i class="fa fa-angle-double-right"></i>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>

<modal modal-id="historyModal" modal-title="История" class="history">
    <div ng-repeat="log in history.data track by $index" class=" {{log.logType == 1 && 'bg-success-ltest' || 'bg-danger-ltest' }} b-b row">
        <div class="m-l-xs pull-left change-icon">{{log.logType == 1 && '+' || '-'}}</div>
        <div>
            <div class="col-xs-10 filename">{{log.logValue}}</div>
            <div class="pull-left m-l-sm">{{log.logDate * 1000 | date:'dd.MM.yyyy'}}</div>
        </div>

    </div>

</modal>

<div class="bottom-menu">
    <a class="extend-button btn bg-info-ltest btn-md panel-info text-info-dker" ng-click="update()">
        <span>обновить <i class="fa fa-refresh"></i>
        </span>
    </a>
</div>