<div ng-init="vars.perPage = 3; init()">
    <div class="panel {{::isNew && 'panel-info' || 'panel-default'}} box-shadow" ng-repeat="training in filteredTrainings|toInt:'date'|orderBy:'date':true|limitTo:vars.limit track by training.id" ng-controller="TrainingCtrl">
        <div class="panel-body {{::isNew && 'generated b bg-info-ltest' || ''}}">
            <div class="row">

                <div class="col-xs-12 text-center padder-v b-b">
                    <span>{{ (training.date - 0 + 7200) * 1000 | date:'EEEE, d MMM' }}</span>
                    <span ng-if="::scheme.modifiers > 1">{{::training.modifier}}</span>
                </div>
                <div class="col-xs-12">
                    <div class="row {{exercise.completed == false && 'bg-danger-ltest' || ''}}" ng-repeat="exercise in ::training.exercises track by $index" ng-controller="ExerciseCtrl">
                        <div class="col-xs-6 text-right" style="direction: rtl">
                            <span class="label {{::isNew && 'label-info' || 'label-default'}}">{{::exercise.weight}}</span>
                            {{::params.label}}
                        </div>
                        <div class="col-xs-6 text-sm no-padder">
                            <span ng-repeat="weight in ::exercise.weights track by $index"> {{::weight}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="filteredTrainings.length > limit">
        <a class="extend-button mobile btn bg-info-ltest btn-sm panel-info text-info-dker" ng-click="showMore()">показать еще
            <i class="fa fa-long-arrow-down"></i> </a>
    </div>
</div>
