<div class="panel panel-default" ng-init="init()">
    <div class="panel-body">

        <div ng-repeat="training in prepared.trainings | limitTo:options.limit | toInt:'date' | orderBy:'date':true track by $index" ng-controller="TrainingCtrl" class="panel {{isNew && 'panel-info' || 'panel-default'}}">
            <div class="panel-body {{local.edit && 'edit' || ''}} {{ isNew && 'bg-info-ltest' || ''}}">
                <div ng-class="{'text-info-dker':isNew,'text-muted':!isNew}" class="text-center col-lg-2 padder-v training-info">

                    <p class="action-bar">
                        <a tooltip="Редактировать" tooltip-position="left" ng-click="editTraining()" class="fa fa-cog fa-2x m-b-n-xs hide-on-edit" ng-class="{'text-info-dker':isNew,'text-muted':!isNew}"></a>
                        <a tooltip="Сохранить" tooltip-position="left" ng-click="saveTraining()" class="fa fa-save fa-2x m-b-n-xs display-on-edit" ng-class="{'text-info-dker':isNew,'text-muted':!isNew}"></a>
                        <a tooltip="Удалить" tooltip-position="right" ng-click="removeTraining()" class="fa fa-trash-o fa-2x hide-on-edit" ng-class="{'text-info-dker':isNew,'text-muted':!isNew}" ng-if="!isNew"></a>
                        <a tooltip="Подтвердить" tooltip-position="right" ng-click="approveTraining()" class="fa fa-check fa-2x hide-on-edit" ng-class="{'text-info-dker':isNew,'text-muted':!isNew}" ng-if="isNew"></a>
                        <a tooltip="Отменить" tooltip-position="right" ng-click="revertTraining()" class="fa fa-ban fa-2x display-on-edit" ng-class="{'text-info-dker':isNew,'text-muted':!isNew}"></a>
                    </p>

                    <div class="train-date">
                        <span class="hide-on-edit">{{ (training.date - 0 + 7200) * 1000 | date:'EEEE, d MMM' }}</span>
                        <input datepicker ng-model='training.date' class="form-control display-on-edit">
                    </div>
                    <div class="train-modifier" ng-if="prepared.currentScheme.modifiers.length > 1">
                        <select ng-model="training.modifierId" ng-options="modifier.id as modifier.label for modifier in prepared.currentScheme.modifiers" class="form-control display-on-edit small-input-form"></select>
                    </div>
                    <div class="train-day">
                        <select ng-model="training.dayId" ng-options="day.id as day.label for day in prepared.currentScheme.days" class="form-control display-on-edit small-input-form"></select>
                    </div>

                </div>

                <div class="b-l col-lg-10 text-right training-exercises">
                    <div ng-controller="ExerciseCtrl" class="exercise b-b row {{exercise.completed == '0' && 'bg-danger-ltest' || ''}}" ng-repeat="exercise in training.exercises track by $index">

                        <div class="col-xs-3">
                            <a ng-bind="params.label" class="btn-link exercise-name" ui-sref='diary.details({ alias : params.alias })'></a>
                            <a class="fa fa-minus {{isNew && 'text-info-dker' || 'text-danger-dk'}} display-on-edit" ng-click="removeExercise()"></a>
                        </div>

                        <div class="col-xs-6 b-r m-r-xs">

                            <div ng-repeat='weight in exercise.weights track by $index' ng-bind="weight" class="short-column col-xs-1"></div>
                        </div>

                        <div class="exercise-param tiny-column pull-left text-left">
                            <span ng-bind="exercise.weight" class="text-info-dkerer font-bold hide-on-edit"></span>
                            <input class="form-control m-t-xxs m-l-n-xxs display-on-edit" ng-model="exercise.weight" autocomplete="off" type="text">
                        </div>

                        <div class="exercise-param tiny-column pull-left text-left display-on-edit">
                            <input class="form-control m-t-xxs m-l-n-xxs" ng-model="exercise.count" autocomplete="off" type="text">
                        </div>

                        <div class="exercise-param tiny-column pull-left text-left display-on-edit">
                            <input class="form-control m-t-xxs m-l-n-xxs" ng-model="exercise.reps" autocomplete="off" type="text">
                        </div>

                        <div ng-bind="params.weightStep" class="exercise-param tiny-column pull-left text-left"></div>

                        <div class="exercise-param tiny-column pull-left text-left display-on-edit" ng-if="!isNew">

                            <input ng-model="exercise.completed" autocomplete="off" ng-checked="exercise.completed == '1'" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" style="margin-top: 0">
                        </div>

                        <div class="exercise-param tiny-column pull-left text-left" ng-if="!isNew">
                            <a ng-click="editComment()" class="fa fa-comment {{exercise.comment && 'text-info-dker' || 'text-muted' }} hide-on-edit" tooltip="{{exercise.comment}}" modal-btn="commentModal"></a>
                        </div>

                    </div>
                </div>

                <form name="NewExerciseForm" novalidate="" ng-controller="TrainingCtrl" class="new-exercise-form">
                    <div class="col-lg-10 col-lg-offset-2 display-on-edit">

                        <div class="col-xs-2 col-xs-offset-1 m-t-xs text-right">
                            <select ng-init="form.exerciseId='1'" class="form-control text-right" ng-model="form.exerciseId" ng-options="paramIndex as exercise.label for (paramIndex,exercise) in ::data.params"></select>
                        </div>
                        <div class="padder pull-left m-t-xs short-column">
                            <input ng-model="form.weight" name="weight" class="form-control text-right" autocomplete="off" placeholder="Вес" type="text" required>
                        </div>
                        <div class="padder pull-left m-t-xs short-column">
                            <input ng-model="form.count" name="count" class="form-control text-right" autocomplete="off" placeholder="Подходы" type="text" required>
                        </div>
                        <div class="padder pull-left m-t-xs short-column">
                            <input ng-model="form.reps" name="reps" class="form-control text-right" autocomplete="off" placeholder="Повторы" type="text" required>
                        </div>
                        <div class="col-xs-2 m-t-xs text-right">
                            <select ng-init="form.increaseType='0'" class="form-control text-left" ng-model="form.increaseType" ng-options="typeIndex as type for (typeIndex,type) in ::data.increaseTypes"></select>
                        </div>
                        <div class="pull-left m-t-xs tiny-column text-left">
                            <a class="fa fa-plus fa-2x {{isNew && 'text-info-dker' || 'text-success-dker'}}" ng-click="addExercise()"></a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-lg-offset-2 display-on-edit">
                        <div class="error-summary text-left col-lg-10 col-xs-offset-3">
                            <ul>
                                <li ng-show="NewExerciseForm.weight.$dirty && NewExerciseForm.weight.$error.required">Введите вес</li>
                                <li ng-show="NewExerciseForm.reps.$dirty && NewExerciseForm.reps.$error.required">Введите повторы</li>
                                <li ng-show="NewExerciseForm.count.$dirty && NewExerciseForm.count.$error.required">Введите подходы</li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<comment-modal></comment-modal>
