<div ng-init="init()">
    <div ui-view>

    </div>

    <div class="bottom-menu">
        <div class="pull-right" ng-if="prepared.trainings.length > options.limit">
            <a class="extend-button bg-info-ltest btn-md btn panel-info text-info-dker" ng-click="showMore()">показать еще
                <i class="fa fa-long-arrow-down"></i> </a>
        </div>
        <div class="pull-right panel panel-default m-r-xs">

            <select ng-if="::data.schemes" ng-options="scheme.id as scheme.label for scheme in ::data.schemes" ng-model="options.selectedScheme" class="form-control input-sm"> </select>
        </div>
    </div>
</div>