<div>
    <div>
        {{variable}}
    </div>
    <modal modal-id="commentModal" modal-title="Comment">
        <form name="CommentForm" ng-controller="CommentCtrl" novalidate="">
            <textarea class="form-control" name="comment" ng-model="form.comment" required=""></textarea>

            <div class="error-summary">
                <ul>
                    <li ng-show="CommentForm.comment.$dirty && CommentForm.comment.$error.required">Введите комментарий</li>
                </ul>
            </div>

            <a modal-btn="commentModal" modal-btn-action="close" class="btn btn-xs btn-default" ng-click="submit()" ng-disabled="CommentForm.$invalid">Submit ME</a>
            <a modal-btn="commentModal" modal-btn-action="close" class="btn btn-xs btn-default" ng-click="deleteComment()">Del </a>

        </form>
    </modal>
</div>