<div class="container" ng-init="init()">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-12">
                <a class="btn btn-sm btn-success"><i class="fa fa-upload"></i> Добавить</a>
                <hr>
            </div>
            <div class="col-xs-2 gallery-item" ng-repeat="photo in filteredPhotos">
                <a class="thumbnail" ng-href="/app/images/pics/{{::photo.path}}"><img ng-src="/app/images/thumbs/{{::photo.path}}"></a>
            </div>

        </div>
    </div>
</div>

