<!DOCTYPE HTML>

<html class="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title class="ng-binding" ng-bind="title"></title>
    <link href="/assets/css/styles.css" rel="stylesheet">

</head>
<body id="body" ng-cloak ng-app="app">
<section class="vbox">

    <header ng-if="!isMobile" class="header navbar bg-light navbar-fixed-top-xs box-shadow">

        <div class="bg-info navbar-header dker"></div>
        <div class="m-l-lg m-t-xs navbar-left">
            <span class="font-2x" ng-bind="title"></span>
        </div>

        <div class="navbar-right">

            <div class="m-r-lg m-t-xs pull-left" ng-if="isLogged()" ng-controller="UserMenuCtrl">
                <ul class="m-b-none nav-user user">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">{{vars.userName}}
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-right animated fadeInRight">
                            <li><a ng-click="logout()"><i class="fa fa-sign-out"></i> выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="m-r-lg m-t-xs pull-left" ng-controller="TopMenuCtrl">
                <ul class="m-b-none no-padder">
                    <li class="dropdown">
                        <a tooltip="Система" tooltip-position="left" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="i i-grid"></i> </a>
                        <section class="dropdown-menu aside-lg bg-white on animated fadeInLeft">
                            <div class="row m-l-none m-r-none m-t m-b text-center">
                                <div class="col-xs-4">
                                    <div class="padder-v">
                                        <a ng-click="shutdown()">
                                            <span class="m-b-xs block">
                                                <i class="fa fa-power-off fa-2x text-danger-lt"></i>
                                            </span>
                                            <small class="text-muted">Выключить</small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <section>
        <section class="hbox stretch">

            <aside class="bg-dark aside-sm nav-xs {{show && 'nav-off-screen' || ''}}" ng-controller="LeftMenuCtrl">
                <section class="vbox" ng-if="show">
                    <nav class="nav-primary">
                        <ul class="nav">
                            <li quick-ng-repeat="item in ::menu track by $index" quick-repeat-list="menu" active-menu>
                                <a href="/#/{{::item.url}}/"> <i class="{{::item.icon}} "></i>
                                    <span ng-bind="::item.label"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </section>
                <div class="{{show && 'text-right' || 'text-left' }}" ng-if='isMobile'>
                    <a ng-click="toggleMenu()" data-toggle="class:nav-off-screen" data-target="#nav"><i class="fa {{show && 'fa-arrow-left m-r-xs' || 'm-l-xs fa-arrow-right' }}"></i>
                    </a>
                </div>
            </aside>
            <content class="vbox">
                <section class="scrollable wrapper view ng-cloak" ui-view ng-cloak></section>
            </content>
        </section>
    </section>
</section>

</body>

<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/app.js"></script>
