<div class="no-anim">
    <modal class="login" modal-size="sm" modal-title="Вход" modal-close-button="false" modal-backdrop="static" modal-open="!isLogged()">
        <form ng-controller="LoginCtrl" name="LoginForm" novalidate>
            <div class="form-group">
                <input ng-model="form.username" name="username" class="form-control no-border padder-v b-light b-a" placeholder="Логин" type="text" ng-required="true">
            </div>
            <div class="form-group">
                <input ng-model="form.password" name="password" class="form-control no-border padder-v b-light b-a" placeholder="Пароль" type="password" ng-required="true">
            </div>
            <div class="error-summary text-danger-dker text-center m-b-md">
                <ul>
                    <li ng-show="(LoginForm.username.$dirty || LoginForm.$submitted) && LoginForm.username.$error.required">Введите логин.</li>
                    <li ng-show="(LoginForm.password.$dirty || LoginForm.$submitted) && LoginForm.password.$error.required">Введите пароль.</li>
                    <li ng-show="LoginForm.$error.wrongCredentials">Неправильное имя пользователя или пароль.</li>
                </ul>
            </div>
            <button class="btn btn-md bg-info dker btn-block" ng-click="submit()" type="submit">
                <i class="i i-login"></i> Войти
            </button>

        </form>
    </modal>
</div>