<div class="container aside-xl login">
    <div class="panel panel-default">
        <div class="panel-body">
            <a class="navbar-brand block">Вход</a>
            <header class="wrapper text-center">
                <strong>войдите под своими данными</strong>
            </header>
            <form ng-controller="LoginCtrl" name="LoginForm">
                <div class="form-group">
                    <input ng-model="form.username" name="username" class="form-control no-border padder-v b-light b-a" placeholder="Логин" type="text" required="">
                </div>
                <div class="form-group">
                    <input ng-model="form.password" name="password" class="form-control no-border padder-v b-light b-a" placeholder="Пароль" type="password" required="">
                </div>
                <div class="error-summary text-danger-dker text-center m-b-md">
                    <ul>
                        <li ng-show="(LoginForm.username.$dirty || LoginForm.$submitted) && LoginForm.username.$error.required">Введите логин.</li>
                        <li ng-show="(LoginForm.password.$dirty || LoginForm.$submitted) && LoginForm.password.$error.required">Введите пароль.</li>
                        <li ng-show="LoginForm.$error.wrongCredentials">Неправильное имя пользователя или пароль.</li>
                    </ul>
                </div>
                <a class="btn btn-md bg-info dker btn-block" ng-click="submit()"><i class="i i-login"></i> Войти</a>
            </form>
        </div>
    </div>
</div>